<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>iMac Fan Control</vendor>
  <vendor_url>https://github.com/whose-stone/linux-on-imac-fan-control</vendor_url>

  <action id="org.imacfan.run">
    <description>Run iMac Fan Control with privileges to write applesmc</description>
    <message>Authentication is required to control iMac fans</message>
    <icon_name>imac-fan-control</icon_name>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/imac-fan-control</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
